body {
    font-family: Arial, sans-serif;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 70%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    background-color: #323650;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 140px;
    margin-right: 30px;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f9f9f9;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: flex-start; /* Align items at the start */
}

.bot {
    background-color: #e0e0e0;
    text-align: left;
}

.user {
    background-color: #d1e7dd;
    text-align: right;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-container {
    display: flex;
    align-items: center;
}

.bot-message .avatar {
    margin-left: 10px; /* Adjust margin for bot avatar position */
}

.user-message .avatar {
    margin-right: 10px; /* Adjust margin for user avatar position */
}

.option-dropdown {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.option-dropdown:focus {
    outline: none;
    border-color: #007bff;
}
